{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    This is Your Cart. Proceed to review your items and place the order.
{% endblock %}
{% block title %}
    Cart -HOP Shop
{% endblock %}
{% block content %}
    {% if not cart_items %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">
                    Your Shopping Cart is Empty
                </h1>
                <br>
                <p class="text-center">
                    Please Add items. Click<a href="{% url 'ecommerseApp:allProdCat' %}">here</a>
                </p>
            </div>
        </div>
    {% else %}
        <div>
            <div class="text-center">
                <br>
                <h1 class="text-center my_title">
                    Your Shopping Cart
                </h1>
                <br>
            </div>
            <div class="row mx-auto">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <table class="table my_custom_table">
                        <thead class="my_custom_thead">
                            <tr>
                                <th colspan="5">
                                    Your Items
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                                <tr>
                                    <td>
                                        <a href="item.product.get_absolute_url"><img src="{{item.product.img.url}}" alt="" style="width:100px; height:100px;" class="float-left rounded custom_image"></a>
                                    </td>
                                    <td class="text-left">
                                        {{item.product.name}}
                                        <br>
                                        SKU:{{item.product.id}}
                                        <br>
                                        Price: ${{item.product.price}}
                                        <br>
                                        Qty: {{item.quantity}} x $ {{item}}
                                    </td>
                                    <td>
                                        $ {{item.sub_total}}
                                    </td>
                                    {% if item.quantity < item.product.stock %}
                                        <td>
                                            <a href="{% url 'cart:add_cart' item.product.id %}" class="custom_a"><i class="fa-solid fa-plus custom_icon"></i></a>
                                            &nbsp;
                                            <a href="{% url 'cart:cart_remove' item.product.id %}" class="custom_a"><i class="fa-solid fa-minus custom_icon"></i></a>
                                            &nbsp;
                                            <a href="{% url 'cart:full_remove' item.product_id %}" class="custom_icon"><i class="fa-solid fa-trash custom_icon"></i></i></a>
                                        </td>
                                    {% else %}
                                        <td>
                                            &nbsp;
                                            <a href="{% url 'cart:cart_remove' item.product.id %}" class="custom_a"><i class="fa-solid fa-minus custom_icon"></i></a>
                                            &nbsp;
                                            <a href="{% url 'cart:full_remove' item.product_id %}" class="custom_icon"><i class="fa-solid fa-trash custom_icon"></i></i></a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <table class="table my_custom_table">
                        <thead class="my_custom_thead">
                        <tr>
                            <th>
                                Checkout
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Please review your shoping cart items before proceeding with the order payment.
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left">
                                    Your Total is : <strong>{{ total }}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="mx-auto">
                        <a href="{% url 'ecommerseApp:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shopping</a>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}